<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Apple_Battery_Check.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Apple_Battery_Check.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Apple_Battery_Check.Properties.Settings>
            <setting name="INTERFACE_TYPE" serializeAs="String">
                <value>HDQ</value>
            </setting>
            <setting name="DATALOG_STATE" serializeAs="String">
                <value>False</value>
            </setting>
        </Apple_Battery_Check.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Apple_Battery_Check.Properties.Settings>
            <setting name="SERIAL_BAUDRATE" serializeAs="String">
                <value>57600</value>
            </setting>
            <setting name="CELSIUS_OFFSET" serializeAs="String">
                <value>273.1</value>
            </setting>
            <setting name="DECIMAL_FACTOR" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="SHIFT_VOLTAGE" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SEPARATOR_SLASH" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="SEPARATOR_DOT" serializeAs="String">
                <value>.</value>
            </setting>
        </Apple_Battery_Check.Properties.Settings>
    </applicationSettings>
</configuration>
